<%= for %{sections: [%{content: title} | sections]} = article <- @articles do %>
  <div>
    <h1><a href={article.slug}><%= title %></a></h1>
    <div>
      <%= for section <- sections do %>
        <%= content_tag(section.type, do: raw(section.content)) %>
      <% end %>
    </div>
  </div>
<% end %>
