.philtre-block {
  margin: 0;
  min-height: 1em;
  cursor: text;
  outline: none;
  font-family: $fontContent;
  padding: 12px;
  background-clip: border-box;

  [data-cell-id] {
    white-space: pre-wrap;
  }

  & > * {
    width: 100%;
  }

  &:hover {
    background-clip: border-box;
    background: $colorUranianBlue;
  }

  &[data-selected] {
    background-clip: border-box;
    background: $colorMiddleBlue;
  }

  .philtre-cell.bold {
    font-weight: bold;
  }

  .philtre-cell.italic {
    font-style: italic;
  }

  .philtre-cell.br {
    display: block;
    clear: both;
  }
}

blockquote.philtre-block {
  margin-left: 0;
  padding-left: 2em;
  border-left: 0.25em solid gray;
}

pre.philtre-block {
  font-family: monospace;
  white-space: pre-line;
}

li.philtre-block {
  padding: 0;
}
