.philtre-page {
  max-width: 700px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;

  &__section {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 6px;

    .philtre-sidebar {
      opacity: 0;

      width: 62px;
      margin-left: -62px;
      display: grid;
      grid-template-columns: auto auto;
      gap: 6px;
      align-items: center;
      justify-content: center;

      transition: all 0.2s ease;
      transition-property: opacity;

      button {
        color: $colorMiddleBlue;
        background: none;
        border: none;
        outline: none;
        text-align: center;
        vertical-align: middle;
        display: grid;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        width: 28px;
        height: 28px;
        line-height: 24px;
        border-radius: 3px;

        transition: all 0.2s ease;
        transition-property: background, color;

        &:hover {
          background: $colorUranianBlue;
          color: $colorVerdirgis;
        }
      }
    }

    &:hover {
      .philtre-sidebar {
        opacity: 1;
      }
    }
  }
}
