<div>
  <.form id="article" let={f} for={@changeset} phx_submit="save" phx_target={@myself}>
    <%= text_input(f, :title) %>
    <%= error_tag(f, :title) %>
    <%= error_tag(f, :slug) %>
    <%= textarea(f, :body, phx_keyup: "preview", phx_target: @myself) %>
    <%= error_tag(f, :body) %>
    <div><%= raw(@preview) %></div>
    <button type="submit">Save</button>
  </.form>
</div>
